src/
docs/
scripts
shell
**/__tests__/
node_modules/
example/
.travis.yml
.vscode
.watchmanconfig
.eslintignore
.github
.idea
.prettierrc
.eslintrc.json
tsconfig.json
tslint.json
babel.config.js

# General
.DS_Store
npm-debug.log
coverage
.nyc_output
dist
build
.vscode

# IntelliJ
#
build/
.idea
*.iml
*.hprof

# Sidi
**/node_modules
bitrise.yml
*.conf
*.yaml
**/*.xml
**/debug.ts
apk_decompiled/
ipa_unzipped/
*.apk
*.ipa
test.sh


CHANGELOG.md
CONTRIBUTING.md
REFERENCE_API.md
README.md